@{
    ViewData["Title"] = "Welcome Page";
}

<div class="container-fluid">
    <div class="row">

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 main-content">
            <div class="jumbotron">
                <h1 class="display-4">Get Up to 50% Off</h1>
                <p class="lead">Grab the best deals on clothing and accessories.</p>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <img class="card-img-top" src="https://via.placeholder.com/300x200" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Summer Sale: Up to 50% Off</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <img class="card-img-top" src="https://via.placeholder.com/300x200" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Trending & Hot: A collection of most trending items.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <img class="card-img-top" src="https://via.placeholder.com/300x200" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Exclusive Deals: Limited time offers.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <img class="card-img-top" src="https://via.placeholder.com/300x200" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Buy it for the first time: New in store.</p>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

